export(colwise2)
export(complete.cases2)
export(contents)
export(is.character.contents)
export(is.logical.contents)
export(is.numeric.contents)
export(matchByDistance)
export(matchStrings)
export(multimerge)
export(recodeAs)
export(recodeDF)
export(recodeDFas)
export(recodeMatches)
export(recodeReverse)
export(unfactor)
export(uniqueNotNA)
